@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}


.container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 1110px;
    margin: 0 auto;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    margin: 40px 0 30px 0; 
}

.conteudoCartas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conteudoCartas .cartas{
    margin: 34px;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
}

.cartaFlip {
    position: relative;
    width: 117px;
    height: 146px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartaCostas, .cartaFrente {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.flipOk{
    transform: rotateY(180deg);
}

.cartaCostas img, .cartaFrente img {
    width: 100px;
    height: 100px;
}

.cartaFrente {
    transform: rotateY(180deg);
}

.caixaContador {
    position: fixed;
    right: 0;
    top: 0;
    background-color: lightseagreen;
    padding: 20px;
    border-radius: 0 0 0 5px;
    text-align: center;
  }

@media only screen and (max-width: 600px) {

    .container {
        display: block;
        width: 100%;
    }

    .conteudoCartas {
        display: block;
        align-items: center;
        justify-content: center;
    }
    
    .conteudoCartas .cartas {
        margin: 34px auto;
    }

    .topo {
        font-size: 36px;
        text-align: center;
    }

    .caixaContador {
        top: 50%;
        border-radius: 5px 0 0 5px;
        padding: 5px;
    }


}
